*.egg*
*.mo
*.pyc
*.sw?
*.sqlite3
*.lock
.environment_version
.selenium_log
.coverage*
.noseids
.DS_STORE
coverage.xml
nosetests.xml
pep8.txt
pylint.txt
reports
doc/build/
doc/source/sourcecode
/static/
.venv
.tox
node_modules
npm-debug.log
build
dist
AUTHORS
ChangeLog
tags
local_settings.py
